<% layout('layout') %>

<meta name="account-id" content="<%= account.id %>">

<div class="flex-container">
    <div class="content-wrapper" style="align-self: start;">
        <div class="container-header variable-width-80">
            <h2><%= account.name %></h2>
            
            <div class="dropdown">
                <h3><a class="link" href="#">Actions</a></h3>
                <div class="dropdown-content" id="add-dropdown">
                    <a onclick="openModal('logTransactionModal', { id: '<%= account.id %>', type: 'account', name: '<%= account.name %>' })" href="#">Log Transaction</a>
                    <a href="#">Account Details</a>
                    <a onclick="openModal('deleteConfirmModal', { id: '<%= account.id %>', type: 'account', name: '<%= account.name %>' })" href="#">Remove Account</a>
                </div>
            </div>
        </div>
        <div class="charts">
            <div class="charts-wrapper">
                <div class="balance-container">
                    <div class="container-rounded">
                        <h2>Balance: £<%= account.balance %></h2>
                        <h3>Account Type: <span><%= accountTypes[account.type] %></span></h3>
                    </div>
                    <% if (transactions.length > 0) { %>
                        <!-- Make this show savings if account is savings account -->
                        <div class="chart-container" style="max-height: 600px; padding-bottom: 10vh;">
                            <h3><%= account.type == 'Savings' ? 'Savings' : 'Spending' %> Over the Last 7 Days</h3>
                            <canvas id="accountTransactionsChart"></canvas>
                        </div>
                    <% } %>
                </div>

                <% if (transactions.length > 0) { %>
                    <div class="spending-categories-container chart-container">
                        <h3>Spending Breakdown by Category</h3>
                        <canvas id="spendingCategoriesChart"></canvas>
                    </div>
                <% } %>
            </div>            
            
            <div class="charts-wrapper">
                <!-- <div class="chart-container">
                    <h3>Balance History</h3>
                    <canvas id="balanceHistoryChart"></canvas>
                </div> -->
                <% if (account.sharedWithId) { %>
                    <div class="container-rounded variable-width-50">
                        <h3>Account Partner</h3>
                        <div class="friend-row">
                            <i class="fa fa-user friend-icon" style="display: flex;"></i>
                            <span class="friend-name">
                                <%= sharedWithUser.first_name + " " + sharedWithUser.last_name %>
                            </span>
            
                            <div class="dropdown"><a href="#" class="link"><i class="fa fa-ellipsis-h"></i></a>
                                <div class="dropdown-content">
                                    <a href="#">Profile</a>
                                    <a href="#">Remove from account</a>
                                </div>
                            </div>
                        </div>
                    </div>
                <% } %>
                <div  class="transaction-section-detail variable-width-50">
                    <%- include('partials/transactions', { 
                        transactions: transactions, 
                        currentPage: currentPage, 
                        totalPages: totalPages 
                    }) %>
                </div>
            </div>

        </div>
    </div>
</div>

<script src="/js/shared.js"></script>
<script>

    document.addEventListener('DOMContentLoaded', function() {

        const transactions = <%- JSON.stringify(transactions) %>; // Get transaction data
        const account = <%- JSON.stringify(account) %>; // Get transaction data
        
        if (transactions.length > 0) {

            console.log(account)

            // Get the last 7 days in DD/MM/YYYY format
            const labels = getLast7Days();

            // Prepare the data for the chart
            const accountTransactionData = labels.map(date => {
                // Sum up the transactions for each specific date
                const dailyTotal = transactions
                    .filter(transaction => transaction.dateMade === date && (account.type == 'Savings' ? transaction.type === 'income' : transaction.type === 'expense')) // Compare against the formatted date
                    .reduce((total, transaction) => total + transaction.amount, 0);
                return dailyTotal;
            });

            // Chart configuration
            const ctx = document.getElementById('accountTransactionsChart').getContext('2d');
            new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: labels, // Last 7 days
                    datasets: [{
                        label: account.type == 'Savings' ? 'Savings' : 'Spending',
                        data: accountTransactionData, // Dynamic spending data
                        backgroundColor: 'rgba(54, 162, 235, 0.2)',
                        borderColor: 'rgba(54, 162, 235, 1)',
                        borderWidth: 1
                    }]
                },
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    scales: {
                        y: {
                            beginAtZero: true,
                        }
                    }
                }
            });

            const categorySpending = <%- JSON.stringify(categorySpending) %>; 

            const filteredCategorySpending = Object.entries(categorySpending).filter(([category, value]) => value > 0);
            const chartLabels = filteredCategorySpending.map(([category]) => category);
            const chartValues = filteredCategorySpending.map(([, value]) => value);

            const pieData = {
                labels: chartLabels,
                datasets: [{
                    data: chartValues,
                    backgroundColor: ['#FF6384', '#36A2EB', '#FFCE56', '#4BC0C0', '#9966FF', '#FF9F40'], // Add colour for each category (12)
                    hoverBackgroundColor: ['#FF6384', '#36A2EB', '#FFCE56', '#4BC0C0', '#9966FF', '#FF9F40']
                }]
            };

            // pie chart for recent spending
            const spendingCategoriesCtx = document.getElementById('spendingCategoriesChart').getContext('2d');
            new Chart(spendingCategoriesCtx, {
                type: 'pie',
                data: pieData,
                options: {
                    responsive: true,
                    plugins: {
                        legend: {
                            position: 'bottom'
                        }
                    }
                }
            });

        }
    });

    async function deleteAccount(accountId) {
        try {
            const response = await fetch(`/accounts/${accountId}`, {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json',
                },
            });

            if (response.ok) {
                alert('Account deleted successfully!');
                window.location.href = '/accounts'
            } else {
                const error = await response.json();
                alert(`Failed to delete account: ${error.message}`);
            }
        } catch (err) {
            console.error('Error deleting account:', err);
            alert('An error occurred while deleting the account.');
        }
    }
</script>