<% layout('layout') %>

<div class="container-rounded search-container">
    <div class="container-header">
        <h3>My Alerts</h3>
        <button class="icon-btn" id="filter-btn">
            <a href="#"><i class="fa fa-sliders"></i></a>
        </button>
    </div>

    <div class="filters" id="filters-section">
        <div class="input-row">
            <div class="transaction-filter input-col">
                <i class="fa fa-filter"></i>
                <select id="filter-category">
                    <option value="all">All</option>
                    <option value="read">Read</option>
                    <option value="unread">Unread</option>
                    <option value="unread">Archived</option>
                </select>
            </div>
    
            <div class="transaction-sort input-col">
                <i class="fa fa-sort"></i>
                <select id="sort-transaction">
                    <option value="date">Date</option>
                    <option value="name">Name</option>
                </select>
            </div>
        </div>
        
        <!-- Make this a slider? -->
        <div class="input-row">
            <div class="input-col">
                <label for="start-date">From</label>
                <input type="date" id="start-date">
            </div>
            <div class="input-col">
                <label for="end-date">To</label>
                <input type="date" id="end-date">
            </div>
        </div>
    </div>

    <div class="friends-list" id="alerts-container">
        <% if (userAlerts.length > 0) { %>
            <% userAlerts.forEach((alert, index) => { %>
                <div class="friend-row">
                    <div id="alertModal-<%= index %>" class="modal">
                        <div class="modal-content">
                            <span class="close" onclick="closeModal('alertModal-<%= index %>')">&times;</span>
                            <h2>
                                <%= alert.title %>
                            </h2>
                            <p><%= alert.body %></p>
                            <p>Created: <%= DateUtils.toShortDate(alert.date) %> </p>
                            <div class="modal-buttons-end">
                                <button type="button" class="modal-footer-btn delete-btn">Delete</button>
                                <% if (alert.type == 'Friend Request') { %>
                                    <button type="button" class="modal-footer-btn btn" onclick="acceptFriendRequest(<%= JSON.stringify(alert) %>, <%= index %>)">Accept</button>
                                <% }; %>
                                <% if (alert.type == 'Shared') { %>
                                    <button type="button" class="modal-footer-btn btn" onclick="redirectToItemPage(<%= JSON.stringify(alert) %>)">View</button>
                                <% }; %>
                            </div>
                        </div>
                    </div>
                    <div style="padding: 10px;">
                        <strong><%= alert.title %></strong>
                        <p><%= alert.body %></p>
                        <p style="font-size: 12px; color: #666;"><%= DateUtils.toDateTime(alert.date) %></p>
                    </div>
                    <div class="dropdown"><a href="#" class="link"><i class="fa fa-ellipsis-h"></i></a>
                        <div class="dropdown-content">
                            <a href="#" onclick="openModal('alertModal-<%= index %>')">View</a>
                            <a href="#" onclick="updateReadStatus(<%= JSON.stringify(alert) %>)" >Mark As <%- alert.unread ? 'Read' : 'Unread' %></a>
                            <a href="#" onclick="deleteAlert(<%= JSON.stringify(alert) %>)" >Delete</a>
                        </div>
                    </div>
                </div>
            <% }); %>
        <% } else { %>
            <div>No alerts found.</div>
        <% } %>
    </div>
</div>

<script src="/js/shared.js"></script>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const filterBtn = document.getElementById('filter-btn');
        const filtersSection = document.getElementById('filters-section');

        filterBtn.addEventListener('click', function(e) {
            e.preventDefault();
            
            filtersSection.classList.toggle('visible');
            filtersSection.style.display = 'block'
        });
    });

    const user = <%- JSON.stringify(user) %>;

    async function acceptFriendRequest(alert, index) {
        try {
            const response = await fetch('/users/friends/update-status', {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ friendId: alert.received_from_id, status: true }),
            });

            if (!response.ok) {
                throw new Error('Failed to update friend status');
            }

            const result = await response.json();
            closeModal(`alertModal-${index}`)
            window.location.reload();
            alertManager.showAlert({
                    title: `Friend Request Accepted!`,
                    type: 'success',
                });
        } catch (error) {
            console.error('Error toggling friend status:', error);
        }
    }

    function redirectToItemPage(alert) {
        if (alert.title.includes('Account')) {
            window.location.href = `/accounts/${alert.shared_item_id}`;
        }
        else if (alert.title.includes('Budget')) {
            window.location.href = `/savings/budget/${alert.shared_item_id}`;
        }
        else if (alert.title.includes('Pot')) {
            window.location.href = `/savings/pot/${alert.shared_item_id}`;
        }
    }

    async function deleteAlert(alert) {
        try {
            const response = await fetch(`/alerts/${alert.id}`, {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json',
                },
            });

            if (response.ok) {
                alertManager.showAlert({
                    title: `Alert deleted successfully`,
                    type: 'success',
                });
                refreshManager.refreshAlerts();
            } else {
                const error = await response.json();
                alertManager.showAlert({
                    title: `Unable to delete alert: ${error.message}`,
                    type: 'error-alert',
                });
            }
        } catch (err) {
            console.error('Error deleting item:', err);
            alertManager.showAlert({
                    title: `An error occurred while deleting the item.`,
                    type: 'error-alert',
                });
        }
    }

    async function updateReadStatus(alert) {
        try {
            const response = await fetch(`/alerts/mark-read/${alert.id}`, {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json',
                },
            });
    
            if (!response.ok) {
                throw new Error('Failed to update item');
            }
    
            await alertManager.showAlert({
                title: `Alert marked as read`,
                type: 'success',
            });
            location.reload();
        } catch (error) {
            console.error('Error updating item:', error);
            alertManager.showAlert({
                title: `Error updating item.`,
                type: 'error',
            });
        }
    }

</script>
