<% layout('layout') %>

<div class="flex-container">
    <div class="content-wrapper" style="align-self: start;">
        <div class="dashboard">
            <div class="container-header">
                <h2>Hey, <%= user.first_name  %>!</h2>
            </div>
            <div class="charts-wrapper">
                <div class="spending-categories-container chart-container">
                    <h3>Spending Breakdown (Last 30 Days)</h3>
                    <canvas id="spending-chart"></canvas>
                    <% if (transactions.length > 0) { %>
                        <div class="account-summary">
                            <% const largestExpenseTransaction = transactions
                                .filter(t => t.type === 'expense')
                                .reduce((max, t) => (t.amount > (max?.amount || 0) ? t : max), null);

                                const today = new Date();
                                const thirtyDaysAgo = new Date();
                                thirtyDaysAgo.setDate(today.getDate() - 30);
                        
                                const totalSpendLast30Days = transactions
                                    .filter(t => t.type === 'expense' && new Date(t.date_made) >= thirtyDaysAgo)
                                    .reduce((sum, t) => sum + t.amount, 0);
                                
                                const averageDailySpend = (totalSpendLast30Days / 30).toFixed(2);
                                
                            %>
                            <p>💡<strong>Total Spending:</strong> £<%= totalSpendLast30Days.toFixed(2) %></p>
                            <p>💡<strong>Average Daily Spend:</strong> £<%= averageDailySpend %></p>
                            <p>💡<strong>Largest Single Expense:</strong> £<%= largestExpenseTransaction.amount.toFixed(2) + ' (' + largestExpenseTransaction.name + ')' %></p>
                        </div>
                    <% } else { %>
                        <div class="">
                            When you begin logging transactions, this is where the analytical data will appear.
                        </div>
                    <% } %>
                </div>
                
                <div class="chart-container">
                    <h3>Balance by Account</h3>
                    <canvas id="savingsByAccountChart"></canvas>

                    <h5 class="account-title" style="font-size: 18px;">Recent Transactions</h5>
                    <% if (transactions.length > 0) { %>
                        <% transactions.slice(0, 5).forEach(transaction => { %>
                            <div class="transaction">
                                <div class="money-bar-header">
                                    <h5 style="font-size: 18px; margin: 0;" class="<%= transaction.type == 'expense' ? 'expense' : '' %>">
                                        <%= transaction.name %>
                                    </h5>
                                    <p style="font-size: 20px; margin: 0;">
                                        <%= transaction.type == 'expense' ? '- ' : '' %> £<%= transaction.amount.toFixed(2) %>
                                    </p>
                                </div>
                                <div class="money-bar-header" style="margin-bottom: 20px;">
                                    <h5 style="font-size: 16px; margin: 0; font-weight: 100;" class="<%= transaction.type == 'expense' ? 'expense' : '' %>">
                                        <%= transaction.category %>
                                    </h5>
                                    <p style="font-size: 14px; margin: 0;" class="<%= transaction.type == 'expense' ? 'expense' : '' %>">
                                        <%= DateUtils.toShortDate(transaction.date_made) %>
                                    </p>
                                </div>
                            </div>
                        <% }); %>
                    <% } else { %>
                        <div class="">
                            No transactions yet! Let's log one
                        </div>
                    <% } %>
                </div>
            </div>         
            
            <% if (Object.keys(activeBudget).length > 0) { %>
                <div class="container-rounded variable-width-50">
                    <h3>Active Budget: <%= activeBudget.name %></h3>
                    <% if (activeBudget.start_date) { %>
                        <p>
                            <strong>Period: </strong> 
                            <%= DateUtils.toLongDate(activeBudget.start_date) + (activeBudget.end_date ? ' - ' + DateUtils.toLongDate(activeBudget.end_date) : '') %>
                        </p>
                    <% } %>
                    <div id="money-bar">
                        <% 
                            const progressPercentage = (activeBudget.actual_amount / activeBudget.target_amount) * 100; 
                            const progress = progressPercentage > 100 ? 100 : progressPercentage; // Cap at 100%
                            const barClass = progress > 90 ? 'over' : (progress > 70 ? 'budget-warning' : '');
                        %>
                        <div class="money-budget actual <%= barClass %>" style="width: <%= progress %>%;">
                        </div>
                        <% if (activeBudget.start_date && activeBudget.end_date) { 
                            const today = new Date();
                            const startDate = new Date(activeBudget.start_date);
                            const endDate = new Date(activeBudget.end_date);
                            
                            if (today >= startDate && today <= endDate) {
                                const totalDays = (endDate - startDate) / (1000 * 60 * 60 * 24); // Total budget duration in days
                                const daysPassed = (today - startDate) / (1000 * 60 * 60 * 24); // Days passed since start
                                const todayPercentage = (daysPassed / totalDays) * 100; // Position marker on the bar
                        %>
                        <div class="today-marker" style="left: <%= todayPercentage %>%;">
                            <div class="today-label">Today</div>
                        </div>
                        <% 
                            }
                        } %>
                    </div>
                    <p>
                        £<%= activeBudget.actual_amount %> spent out of £<%= activeBudget.target_amount %>
                    </p>
                </div>
            <% } %>
        </div>
    </div>
</div>


<script>

document.addEventListener('DOMContentLoaded', function() {
    const accounts = <%- JSON.stringify(accounts) %>; 
    const transactions = <%- JSON.stringify(transactions) %>; 
    const categorySpending = <%- JSON.stringify(categorySpending) %>; 

    if (transactions.length > 0) {

        const largestAmountElement = document.getElementById('largest-transaction');
        if (largestAmountElement) {
            // Find the transaction with the highest value
            let maxTransaction = transactions.reduce((max, transaction) => {
                return transaction.amount > max.amount ? transaction : max;
            }, transactions[0]);

            // Get the amount and name of the transaction
            let maxTransactionValue = maxTransaction.amount;
            let maxTransactionName = maxTransaction.name;

            // Display the value and name
            largestAmountElement.textContent = `£${maxTransactionValue} - ${maxTransactionName}`;
        }

        const filteredCategorySpending = Object.entries(categorySpending).filter(([category, value]) => value > 0);

        const chartLabels = filteredCategorySpending.map(([category]) => category);
        const chartValues = filteredCategorySpending.map(([, value]) => value);
        
        const pieData = {
            labels: chartLabels,
            datasets: [{
                data: chartValues,
                backgroundColor: ['#FF6384', '#36A2EB', '#FFCE56', '#4BC0C0', '#9966FF', '#FF9F40'], // Add colour for each category (12)
                hoverBackgroundColor: ['#FF6384', '#36A2EB', '#FFCE56', '#4BC0C0', '#9966FF', '#FF9F40']
            }]
        };

        // pie chart for recent spending
        const spendingCategoriesCtx = document.getElementById('spending-chart').getContext('2d');
        new Chart(spendingCategoriesCtx, {
            type: 'pie',
            data: pieData,
            options: {
                responsive: true,
                plugins: {
                    legend: {
                        position: 'bottom'
                    }
                }
            }
        });
    }

    if (accounts.length > 0) {
        const labels = accounts.map(x => x.name);
        const data = accounts.map(x => x.balance);
        const ctxAccount = document.getElementById('savingsByAccountChart').getContext('2d');

        const savingsByAccountChart = new Chart(ctxAccount, {
            type: 'bar',
            data: {
                labels: labels,
                datasets: [{
                    label: 'Balance',
                    data: data, 
                    backgroundColor: [
                        'rgba(75, 192, 192, 0.6)',
                        'rgba(153, 102, 255, 0.6)',
                        'rgba(255, 159, 64, 0.6)'
                    ],
                    borderColor: [
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                responsive: true,
                scales: {
                    y: {
                        beginAtZero: true,
                        title: {
                            display: true,
                            text: 'Amount (£)' // Y-axis title
                        }
                    },
                    x: {
                        title: {
                            display: true,
                            text: 'Accounts' // X-axis title
                        }
                    }
                }
            }
        });
    }
    
});

</script>