<%- include('partials/head') %>
<body>
    <%- include('partials/nav') %>

    <%- body %>

    <%- include('partials/modals/newBudgetModal') %>
    <%- include('partials/modals/newPotModal') %>
    <%- include('partials/modals/logTransactionModal') %>

    <script src="/js/navbar-loader.js"></script>

    <link rel="stylesheet" href="/styles/modal-styling.css">
    <script src="/js/modals.js"></script>
</body>