<% layout('layout') %>

<div class="flex-container profile-container">
    <div class="profile">
        <div id="user-profile" class="login" style="display: contents;">
            <div class="profile-row">
                <div style="display: flex; align-items: center;">
                    <div class="profile-icon-wrapper">
                        <i class="fa fa-user" style="font-size: 36px;"></i>
                    </div>
                </div>
                <div class="profile-details">
                    <h3 id="profile-user-name" style="margin-bottom: 5px;">
                        <%= user.first_name + ' ' + user.last_name %>
                    </h3>
                    <div id="edit-profile-user-name" style="display: none;">
                        <div>
                            <input id="edit-user-first-name" type="text" class="input-box" value="<%= user.first_name %>" placeholder="First Name"/>
                        </div>
                        <div style="margin-left: 10px;">
                            <input id="edit-user-last-name" type="text" class="input-box" value="<%= user.last_name %>" placeholder="Last Name" />
                        </div>
                    </div>
                    <div id="profile-user-email">
                        <%= user.email %>
                    </div>
                    <div id="edit-profile-email" style="display: none; width: 100%;">
                        <input id="edit-user-email" type="email" class="input-box" value="<%= user.email %>" placeholder="Email Address"/>
                    </div>
                </div>
                <div style="margin-left: auto; margin-right: 20px; cursor: pointer;">
                    <i id="no-edit" class="fa fa-pencil" style="font-size: 24px; display: flex;" onclick="toggleEditMode(true)" title="Edit profile"></i>
                    <div id="edit-mode" style="display: none;">
                        <i class="fa fa-check" style="font-size: 24px; color: #4CAF50;" onclick="saveChanges()" title="Save profile changes"></i>
                        <i class="fa fa-close" style="font-size: 24px; margin-left: 10px; color: red;" onclick="toggleEditMode(false)" title="Exit editing without saving changes"></i>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="friends">
            <div class="container-header">
                <h2>My Friends</h2>
                <h3><a class="link" href="search">Find Friends</a></h3>
            </div>
            <!-- <div class="container-rounded"> -->
                <div class="search input-row profile-search">
                    <i class="fa fa-search"></i>
                    <input type="text" id="user-search-bar" placeholder="Search friends...">
                </div>
                <div class="friends-list" id="friends-list">
                    <% if (friends.length > 0) { %>
                        <% friends.forEach((friend, index) => { %>
                            <div class="friend-row" data-name="<%= friend.userName %>">
                                <i class="fa fa-user friend-icon" style="display: flex;"></i>
                                <span class="friend-name">
                                    <%= friend.userName %>
                                </span>
                
                                <div class="dropdown"><a href="#" class="link"><i class="fa fa-ellipsis-h"></i></a>
                                    <div class="dropdown-content">
                                        <a href="#" onclick="openModal('friendModal-<%= index %>')">View Friends</a>
                                        <a href="#">Nudge</a>
                                        <a href="#" class="remove-friend" onclick="openModal('deleteFriendModal-<%= index %>')" >Remove Friend</a>
                                    </div>
                                </div>
                
                                <!-- Modal for this friend's friends list -->
                                <div id="friendModal-<%= index %>" class="modal">
                                    <div class="modal-content">
                                        <span class="close" onclick="closeModal('friendModal-<%= index %>')">&times;</span>
                                        <h2><%= friend.userName %></h2>
                                        <h2>Friends since <%= DateUtils.toShortDate(friend.created) %></h2>
                                        <!-- Display the friend's friends -->
                                         <h3>Friends List</h3>
                                        <% if (friend.friendsOfFriend.length > 0) { %>
                                            <% friend.friendsOfFriend.forEach(f => { %>
                                                <p><%= f.friendName %></p>
                                            <% }); %>
                                        <% } else { %>
                                            <p>No friends to show.</p>
                                        <% } %>
                                    </div>
                                </div>
                                
                                <!--Confirm Delete for friend-->
                                <div id="deleteFriendModal-<%= index %>" class="modal">
                                    <div class="modal-content">
                                        <span class="close" onclick="closeModal('deleteFriendModal-<%= index %>')">&times;</span>
                                        <div class="modal-header">
                                            <h2>Please Confirm</h2>
                                        </div>
                                        <p>Are you sure you want to remove <%= friend.userName %> as a friend?</p>
                                        <p>Shared items with this user will no longer be visible. </p>
                                        <div class="modal-buttons-end">
                                            <button type="button" class="modal-footer-btn cancel-btn" onclick="closeModal('deleteFriendModal-<%= index %>')">Cancel</button>
                                            <button type="button" class="modal-footer-btn delete-btn" onclick="removeFriend('<%= friend.friendshipId %>', <%= index %>)">
                                                Remove
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <% }); %>
                    <% } else { %>
                        <div>No friends yet :(</div>
                    <% } %>
                </div>
            <!-- </div> -->
        </div>
    </div>
</div>

<script src="/js/shared.js"></script>

<!-- Initialize the search function -->
<script>
    searchUsers('user-search-bar', 'friends-list');

    const user = <%- JSON.stringify(user) %>;

    function toggleEditMode(edit) {
        const editElems = document.getElementById('edit-mode');
        const noEditElem = document.getElementById('no-edit');

        const editUserName = document.getElementById('edit-profile-user-name');
        const currentUsername = document.getElementById('profile-user-name');
        const currentUerEmail = document.getElementById('profile-user-email');
        const editUserEmail = document.getElementById('edit-profile-email');

        if (edit) {
            noEditElem.style.display = 'none';
            editElems.style.display = 'flex';

            editUserName.style.display = 'flex';
            editUserEmail.style.display = 'flex';

            currentUsername.style.display = 'none';
            currentUerEmail.style.display = 'none';
        } else {
            noEditElem.style.display = 'flex';
            editElems.style.display = 'none'; 

            editUserName.style.display = 'none';
            editUserEmail.style.display = 'none';

            currentUsername.style.display = 'flex';
            currentUerEmail.style.display = 'flex';
        }
    }

    async function saveChanges() {
        const newFirstName = document.getElementById('edit-user-first-name').value;
        const newLastName = document.getElementById('edit-user-last-name').value;

        let updates = {};

        if (newFirstName !== user.first_name) {
            updates.firstName = newFirstName;
        }
        if (newLastName !== user.last_name) {
            updates.lastName = newLastName;
        }

        if (Object.keys(updates).length === 0) {
            console.log('No changes to save.');
            alertManager.showAlert({
                title: `No changes detected.`,
                type: 'info',
            });
            toggleEditMode(false);
            return;
        }

        try {
            const response = await fetch('/update-profile', {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(updates),
            });

            if (!response.ok) {
                throw new Error('Failed to update profile');
            }

            const result = await response.json();
            refreshManager.refreshProfile();
            alertManager.showAlert({
                title: `Profile Updated!`,
                type: 'success',
            });
            toggleEditMode(false);
        } catch (error) {
            console.error('Error updating profile:', error);
            alertManager.showAlert({
                title: `Error updating profile.`,
                type: 'error-alert',
            });
        }
    }


    async function removeFriend(friendshipId) {
        try {
            const response = await fetch(`/friends/${friendshipId}`, {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json',
                },
            });
            if (response.ok) {;
                refreshManager.refreshFriends();
                alertManager.showAlert({
                    title: 'Friend Removed Successfully.',
                    type: 'success',
                });
            } else {
                const error = await response.json();
                alertManager.showAlert({
                    title: `Failed to remove friend: ${error.message}`,
                    type: 'error-alert',
                });
            }
        } catch (err) {
            console.error('Error removing friend:', err);
            alertManager.showAlert({
                    title: 'An error occurred while removing friend.',
                    body: `Error: ${err}`,
                    type: 'error-alert',
                });
        }
    }
</script>
