<% layout('layout') %>
<div class="flex-container">
<div class="content-wrapper">
    <div style=" width: 90%;">
        <div style="margin-bottom: 30px; align-self: self-start;">
            <div class="container-header">
                <h2>My Pots</h2>
                <h3><a id="addPot" onclick="openModal('newPotModal')" class="link" href="#">Add New</a></h3>
            </div>
            <div class="savings-container">
                <% if (pots.length > 0) { %>
                    <% pots.forEach((pot)=> { %>
                        <a href="/savings/pot/<%= pot.id %>" class="side-container" style="text-decoration: none; color: inherit;">
                                <h5 style="font-size: 16px">
                                    <%= pot.name %>
                                    <% if (pot.sharedWithId) { %>
                                        - shared with <%= pot.sharedWithId %>
                                    <% } %>
                                </h5>
                                <h5 style="font-size: 18px; color: #45a049;">
                                    £<span id="pot-current-amount-<%= pot.id %>">0</span> out of £<%= pot.targetAmount %>
                                </h5>
                                <canvas id="pot-chart-<%= pot.id %>"></canvas>
                        </a>
                    <% }); %>
                <% } else { %>
                    <div>
                        No pots created. Let's create one!
                    </div>
                <% } %>
            </div>
        </div>
        
        
        <div style="margin-bottom: 30px; align-self: self-start;">
            <div class="container-header">
                <h2>My Budgets</h2>
                <h3><a id="addBudget" onclick="openModal('newBudgetModal')" class="link" href="#">Add New</a></h3>
            </div>
            <div class="savings-container">
                <% if (budgets.length > 0) { %>
                    <% budgets.forEach((budget)=> { %>
                        <div class="side-container" data-type="budget">
                            <h5 style="font-size: 16px">
                                <%= budget.name %>
                                <% if (budget.sharedWithId) { %>
                                    - shared with <%= budget.sharedWithId %>
                                <% } %>
                            </h5>
                            <h5 style="font-size: 18px; color: #45a049;">
                                £<span id="budget-current-amount-<%= budget.id %>">0</span> out of £<%= budget.amount %></h5>
                            <canvas id="budget-chart-<%= budget.id %>"></canvas>
                        </div>
                    <% }); %>
                <% } else { %>
                    <div>
                        No budgets created. Let's create one!
                    </div>
                <% } %>
            </div>
        </div>
    </div>
</div>
</div>

<script>

    function createDoughnutChart(chartId, actual, total) {
        const ctx = document.getElementById(chartId).getContext('2d');
        const percentage = (actual / total) * 100;
        let actualColor;

        // Determine the color of the "actual" section based on the percentage
        if (percentage > 75) {
            actualColor = '#45a049'; // green
        } else if (percentage > 25 && percentage <= 75) {
            actualColor = '#FFA500'; // amber
        } else {
            actualColor = '#FF0000'; // red
        }

        // Create the doughnut chart
        new Chart(ctx, {
            type: 'doughnut',
            data: {
                datasets: [{
                    data: [actual, total - actual], // actual vs remaining
                    backgroundColor: [actualColor, '#C0C0C0'], // actual and remaining colors
                    hoverOffset: 4
                }]
            },
            options: {
                responsive: true,
                cutout: '70%', // Control the size of the doughnut hole
                plugins: {
                    legend: {
                        display: false // Hide the legend
                    },
                    tooltip: {
                        callbacks: {
                            label: function(tooltipItem) {
                                const label = tooltipItem.dataIndex === 0 ? 'Actual' : 'Remaining';
                                return `${label}: £${tooltipItem.raw}`;
                            }
                        }
                    }
                }
            }
        });
    }


    document.addEventListener('DOMContentLoaded', function() {
        initPotCharts();
        initBudgetCharts();
    });

    function initPotCharts() {
        const pots = <%- JSON.stringify(pots) %>;
        const potTransactions = <%- JSON.stringify(potTransactions) %>; 

        pots.forEach(pot => {
            const potId = pot.id;

            const filteredTransactions = potTransactions.filter(transaction => transaction.potId === potId);

            // Calculate the total actual amount from the filtered transactions
            let actualAmount = filteredTransactions.reduce((total, transaction) => {
                return total + transaction.amount;
            }, 0);

            const currentAmountElement = document.getElementById(`pot-current-amount-${potId}`);
            if (currentAmountElement) {
                currentAmountElement.textContent = actualAmount.toFixed(0);
            }

            createDoughnutChart(`pot-chart-${pot.id}`, actualAmount, pot.targetAmount); 

        });
    }

    function initBudgetCharts() {
        const budgets = <%- JSON.stringify(budgets) %>;
        const budgetTransactions = <%- JSON.stringify(budgetTransactions) %>; 

        budgets.forEach(budget => {
            const budgetId = budget.id;

            const filteredTransactions = budgetTransactions.filter(transaction => transaction.budgetId === budgetId);

            // Calculate the total actual amount from the filtered transactions
            let actualAmount = filteredTransactions.reduce((total, transaction) => {
                return total + transaction.amount;
            }, 0);

            const currentAmountElement = document.getElementById(`budget-current-amount-${budgetId}`);
            if (currentAmountElement) {
                currentAmountElement.textContent = actualAmount.toFixed(0);
            }

            createDoughnutChart(`budget-chart-${budget.id}`, actualAmount, budget.amount); 

        });
    }

</script>