<% layout('layout') %>
<div class="flex-container">
    <div class="content-wrapper">
        <div style=" width: 90%;">
            <div style="margin-bottom: 30px; align-self: self-start;">
                <div class="container-header" style="justify-content: normal;">
                    <h2>My Pots</h2>
                    <button class="icon-btn" style="margin-left: 2em;" id="add-btn" title="Create a new pot" onclick="openModal('newPotModal')">
                        <i class="fa fa-plus"></i>
                    </button>
                </div>
                <div id="pots-container" class="savings-container">
                    <% if (pots.length > 0) { %>
                        <% pots.forEach((pot)=> { %>
                            <a href="/savings/pot/<%= pot.id %>" class="side-container" style="text-decoration: none; color: inherit;">
                                <h5 style="font-size: 16px">
                                    <% if (pot.shared_with_id) { %>
                                        <i class="fa fa-handshake-o" title="This is a shared pot"></i>
                                        | 
                                    <% } %>
                                    <%= pot.name %>
                                </h5>
                                <h5 style="font-size: 18px; color: #45a049;">
                                    £<%= pot.actual_amount %> out of £<%= pot.target_amount %>
                                </h5>
                                <%- include('partials/savingsDoughnut', { 
                                    chartId: `pot-chart-${pot.id}`, 
                                    actualAmount: pot.actual_amount, 
                                    totalAmount: pot.target_amount,
                                    reverseColours: false
                                }) %>
                            </a>
                        <% }); %>
                    <% } else { %>
                        <div>
                            No pots created.
                        </div>
                    <% } %>
                </div>
            </div>
            
            
            <div style="margin-bottom: 30px; align-self: self-start;">
                <div class="container-header" style="justify-content: normal;">
                    <h2>My Budgets</h2>
                    <button class="icon-btn" style="margin-left: 2em;" id="add-btn" title="Create a new budget" onclick="openModal('newBudgetModal')">
                        <i class="fa fa-plus"></i>
                    </button>
                </div>
                <div id="budgets-container" class="savings-container">
                    <% if (budgets.length > 0) { %>
                        <% budgets.forEach((budget)=> { %>
                            <a href="/savings/budget/<%= budget.id %>" class="side-container budget-item" style="text-decoration: none; color: inherit;">
                                <% if (budget.is_active) { %>
                                    <i class="fa fa-star active-star" title="This is the active budget"></i>
                                <% } %>
                                <h5 style="font-size: 16px">
                                    <% if (budget.shared_with_id) { %>
                                        <i class="fa fa-handshake-o" title="This is a shared budget"></i>
                                        | 
                                    <% } %>
                                    <%= budget.name %>
                                </h5>
                                <h5 style="font-size: 18px; color: #45a049;">
                                    £<%= budget.actual_amount %> out of £<%= budget.target_amount %>
                                </h5>                
                                <%- include('partials/savingsDoughnut', { 
                                    chartId: `budget-chart-${budget.id}`, 
                                    actualAmount: budget.actual_amount, 
                                    totalAmount: budget.target_amount,
                                    reverseColours: true
                                }) %>
                            </a>
                        <% }); %>
                    <% } else { %>
                        <div>
                            No budgets created.
                        </div>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</div>