<% layout('layout') %>

<div class="container-rounded search-container">
    <div class="search input-row" style="width: 100%;">
        <i class="fa fa-search"></i>
        <input type="text" id="user-search-bar" placeholder="Search users...">
    </div>
    <div class="friends-list" id="users-list" style="display: none;">
        <% 
            const usersExcludingCurrent = searchResults.filter(result => result.id != user.id);
        %>
        <% if (usersExcludingCurrent.length > 0) { %>
            <% usersExcludingCurrent.forEach((result, index) => { %>
                <div class="friend-row" data-name="<%= result.first_name + result.last_name %>">
                    <% if (result.profile_picture) { %>
                        <img id="profile-icon" 
                            src="<%= result.profile_picture %>" 
                            alt="Profile Picture"
                            class="profile-img"
                        />
                    <% } else { %>
                        <i class="fa fa-user friend-icon" style="display: flex;"></i>
                    <% } %>
                    <span class="friend-name">
                        <%= result.first_name + ' ' + result.last_name %>
                    </span>
    
                    <div class="dropdown"><a href="#" class="link"><i class="fa fa-ellipsis-h"></i></a>
                        <div class="dropdown-content">
                            <a href="#" onclick="openModal('userModal-<%= index %>')">Details</a>
                            <a href="#" onclick="sendNudgeAlert(<%= JSON.stringify(result) %>)">Nudge</a>
                        </div>
                    </div>
    
                    <!-- Modal for this friend's friends list -->
                    <div id="userModal-<%= index %>" class="modal">
                        <div class="modal-content">
                            <span class="close" onclick="closeModal('userModal-<%= index %>')">&times;</span>
                            <h2>
                                <%= result.first_name + ' ' + result.last_name %>
                            </h2>
                            <% if (result.friendsOfUser.length > 0) { %>
                                <p>Friends of this user:</p>
                                <ul>
                                    <% result.friendsOfUser.forEach(friend => { %>
                                        <li><%= friend %></li>
                                    <% }) %>
                                </ul>
                            <% } else { %>
                                <p>This user has no other friends listed.</p>
                            <% } %>
                            <button type="button" class="btn" onclick="sendFriendRequest(<%= JSON.stringify(result) %>, <%= index %>)">Add Friend +</button>
                        </div>
                    </div>
                </div>
            <% }); %>
        <% } else { %>
            <div>No users found.</div>
        <% } %>
    </div>
</div>

<script src="/js/shared.js"></script>

<script>
    searchUsers('user-search-bar', 'users-list');

    const user = <%- JSON.stringify(user) %>;

    async function sendFriendRequest(targetUser, index) {
        await alertManager.sendFriendRequest(targetUser, user);
        closeModal(`userModal-${index}`);
    }

    async function sendNudgeAlert(targetUser) {
        alertManager.sendNudgeAlert(targetUser, user);
    }
</script>
