<% layout('layout') %>

<div class="container-rounded search-container">
    <div class="search input-row" style="width: 100%;">
        <i class="fa fa-search"></i>
        <input type="text" id="user-search-bar" placeholder="Search users...">
    </div>
    <div class="friends-list" id="users-list">
        <% 
            const usersExcludingCurrent = searchResults.filter(result => result.id != user.id);
        %>
        <% if (usersExcludingCurrent.length > 0) { %>
            <% usersExcludingCurrent.forEach((result, index) => { %>
                <div class="friend-row" data-name="<%= result.first_name %>">
                    <i class="fa fa-user friend-icon" style="display: flex;"></i>
                    <span class="friend-name">
                        <%= result.first_name + ' ' + result.last_name %>
                    </span>
    
                    <div class="dropdown"><a href="#" class="link"><i class="fa fa-ellipsis-h"></i></a>
                        <div class="dropdown-content">
                            <a href="#" onclick="openModal('userModal-<%= index %>')">Details</a>
                            <a href="#">Nudge</a>
                        </div>
                    </div>
    
                    <!-- Modal for this friend's friends list -->
                    <div id="userModal-<%= index %>" class="modal">
                        <div class="modal-content">
                            <span class="close" onclick="closeModal('userModal-<%= index %>')">&times;</span>
                            <h2>
                                <%= result.first_name + ' ' + result.last_name %>
                            </h2>
                            <% if (result.friendsOfUser.length > 0) { %>
                                <p>Friends of this user:</p>
                                <ul>
                                    <% result.friendsOfUser.forEach(friend => { %>
                                        <li><%= friend %></li>
                                    <% }) %>
                                </ul>
                            <% } else { %>
                                <p>This user has no other friends listed.</p>
                            <% } %>
                            <button type="button" class="btn" onclick="sendFriendRequest(this, <%= index %>)" data-user='<%= JSON.stringify(result) %>'>Add Friend +</button>
                        </div>
                    </div>
                </div>
            <% }); %>
        <% } else { %>
            <div>No users found.</div>
        <% } %>
    </div>
</div>

<script src="/js/shared.js"></script>

<script>
    searchUsers('user-search-bar', 'users-list');

    const user = <%- JSON.stringify(user) %>;

    async function sendFriendRequest(button, index) {
        try {
            const friend = JSON.parse(button.dataset.user);
            const response = await fetch('/alerts/friend-request', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ userId: friend.id, friendName: user.first_name + ' ' + user.last_name, sentById: user.id }),
            });

            const result = await response.json();

            if (response.ok) {
                console.log('Friend request alert created successfully:', result.message);
                await createFriendRequest(friend, index);
            } else {
                console.error('Error creating friend request alert:', result.error);
            }
        } catch (error) {
            console.error('Error sending friend request alert:', error);
        }
    }

    async function createFriendRequest(friend, index) {
        try {
            const response = await fetch('/friends/create', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ friendId: friend.id }),
            });

            const result = await response.json();

            if (response.ok && result.success) {
                closeModal(`userModal-${index}`);
                console.log('Friend created successfully:', result.message);
            } else {
                throw new Error(result.error || 'Failed to create friend.');
            }
        } catch (error) {
            console.error('Error creating friend:', error);
            return false;
        }
    }
</script>
