<% layout('layout') %>    
    <div class="flex-container" style="justify-content: center !important; align-items: stretch; display: flex;">
        <div class="transaction-section" style="overflow-y: auto;">
            <h3>All Transactions</h3>

            <div class="search input-row">
                <i class="fa fa-search"></i>
                <input type="text" id="search-transaction" placeholder="Search transactions...">
            </div>

            <div class="input-row">
                <div class="transaction-filter input-col">
                    <i class="fa fa-filter"></i>
                    <select id="filter-category">
                        <option value="all">All Categories</option>
                        <option value="Food">Food & Dining</option>
                        <option value="entertainment">Entertainment</option>
                        <option value="shopping">Shopping</option>
                        <option value="bills">Bills & Utilities</option>
                    </select>
                </div>

                <div class="transaction-sort input-col">
                    <i class="fa fa-sort"></i>
                    <select id="sort-transaction">
                        <option value="date">Date</option>
                        <option value="amount">Amount</option>
                        <option value="name">Name</option>
                    </select>
                </div>
            </div>
            
            <!-- Make this a slider? -->
            <div class="input-row">
                <div class="input-col">
                    <label for="start-date">From</label>
                    <input type="date" id="start-date">
                </div>
                <div class="input-col">
                    <label for="end-date">To</label>
                    <input type="date" id="end-date">
                </div>
            </div>

            <div class="transactions-container">
                <button class="collapsible">
                    <%= 'Accounts' + " (" + userAccounts.length + ")" %>
                    <i class="fa fa-chevron-down"></i>
                </button>
                <div class="sub-content">
                    <% if (userAccounts && userAccounts.length > 0) { %>
                        <% userAccounts.forEach((account, index) => { %>
                            <!-- Sub-collapsible for each account -->
                            <button class="collapsible">
                                <span><%= account.name %></span>
                                <i class="fa fa-chevron-down"></i>
                            </button>
                            <div class="content">
                                <ul class="transaction-list">
                                    <!-- Transactions for the specific account -->
                                    <% transactions.forEach(transaction => { %>
                                        <% if (transaction.accountId === account.id) { %>
                                            <li class="transaction <%= transaction.type %>" 
                                                data-category="<%= transaction.category %>" 
                                                data-date="<%= transaction.dateMade %>">
                                                <span><strong><%= transaction.name %></strong></span>
                                                <span>Amount: <%= transaction.amount %></span>
                                                <span>Date: <%= transaction.dateMade %></span>
                                                <span data-category="<%= transaction.category %>">Category: <%= transaction.category %></span>
                                                <span>Type: <%= transaction.type %></span>
                                            </li>
                                        <% } %>
                                    <% }); %>
                                </ul>
                            </div>
                        <% }); %>
                    <% } else { %>
                        <p>No accounts found.</p>
                    <% } %>
                </div>

                <button class="collapsible">
                    <%= 'Pots' + " (" + userPots.length + ")" %>
                    <i class="fa fa-chevron-down"></i>
                </button>
                <div class="sub-content">
                    <% if (userPots && userPots.length > 0) { %>
                        <% userPots.forEach((pot, index) => { %>
                            <button class="collapsible">
                                <span><%= pot.name %></span>
                                <i class="fa fa-chevron-down"></i>
                            </button>
                            <div class="content">
                                <ul class="transaction-list">
                                    <% transactions.forEach(transaction => { %>
                                        <% if (transaction.potId === pot.id) { %>
                                            <li class="transaction <%= transaction.type %>" data-date="<%= transaction.dateMade %>">
                                                <span><strong><%= transaction.name %></strong></span>
                                                <span>Amount: <%= transaction.amount %></span>
                                                <span>Date: <%= transaction.dateMade %></span>
                                                <span data-category="<%= transaction.category %>">Category: <%= transaction.category %></span>
                                                <span>Type: <%= transaction.type %></span>
                                            </li>
                                        <% } %>
                                    <% }); %>
                                </ul>
                            </div>
                        <% }); %>
                    <% } else { %>
                        <p>No pots found.</p>
                    <% } %>
                </div>

                <button class="collapsible">
                    <%= 'Budgets' + " (" + userBudgets.length + ")" %>
                    <i class="fa fa-chevron-down"></i>
                </button>
                <div class="sub-content">
                    <% if (userBudgets && userBudgets.length > 0) { %>
                        <% userBudgets.forEach((budget, index) => { %>
                            <button class="collapsible">
                                <span><%= budget.name %></span>
                                <i class="fa fa-chevron-down"></i>
                            </button>
                            <div class="content">
                                <ul class="transaction-list">
                                    <% transactions.forEach(transaction => { %>
                                        <% if (transaction.budgetId === budget.id) { %>
                                            <li class="transaction <%= transaction.type %>" data-category="<%= transaction.category %>" data-date="<%= transaction.dateMade %>">
                                                <span><strong><%= transaction.name %></strong></span>
                                                <span>Amount: <%= transaction.amount %></span>
                                                <span>Date: <%= transaction.dateMade %></span>
                                                <span>Category: <%= transaction.category %></span>
                                                <span>Type: <%= transaction.type %></span>
                                            </li>
                                        <% } %>
                                    <% }); %>
                                </ul>
                            </div>
                        <% }); %>
                    <% } else { %>
                        <p>No pots found.</p>
                    <% } %>
                </div>
            </div>
            
<script src="/js/shared.js"></script>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        const collapsibles = document.querySelectorAll(".collapsible");
        collapsibles.forEach(collapsible => {
            collapsible.addEventListener("click", function() {
                this.classList.toggle("active");
                const content = this.nextElementSibling;
                content.style.display = content.style.display === "block" ? "none" : "block";
                const icon = this.querySelector('i');
                icon.classList.toggle('fa-chevron-down');
                icon.classList.toggle('fa-chevron-up');
            });
        });

        const subCollapsibles = document.querySelectorAll(".sub-collapsible");
        subCollapsibles.forEach(subCollapsible => {
            subCollapsible.addEventListener("click", function() {
                this.classList.toggle("active");
                const subContent = this.nextElementSibling;
                subContent.style.display = subContent.style.display === "block" ? "none" : "block";
                const icon = this.querySelector('i');
                icon.classList.toggle('fa-chevron-down');
                icon.classList.toggle('fa-chevron-up');
            });
        });

        searchTransactions(
            'search-transaction',
            'transaction',
            'filter-category',
            'start-date',
            'end-date'
        );
    });

    
</script>
